.vertical-button {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 80px;
  align-items: center;
  transition: box-shadow 0.2s ease;
  align-self: normal;

  button {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px dotted var(--extra-light-gray);
    color: var(--extra-light-gray);
  }
}

.vertical-button:hover {
  box-shadow: 0px 0px 20px 1px rgba(248, 33, 173, 0.35);
}
