.grid-container {
  display: flex;
  justify-content: center;
  width: 470px;
  height: 470px;
  border-radius: 50%;
  border: 3px solid #242424;
  position: relative;
  z-index: 5;
  position: absolute;
}

.grid-container__clock-arm {
  width: 3px;
  height: 50%;
  background: #f821ad;
  transform-origin: bottom center;
  position: relative;
  z-index: -1;
}

.grid-container__clock-arm.running {
  animation: var(--tempo) linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container .dot {
  position: absolute;
  top: 47%;
  left: 47%;
  width: 25px;
  height: 25px;
  background-color: #ea21f8ff;
  border-radius: 50%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(237px) rotate(calc(-360deg / var(--beats) * var(--i)));
  transform-origin: center;
  z-index: 6;
}

.grid-container .dot.subdivision {
  width: 10px;
  height: 10px;
  background-color: #9045e6ff;
  left: 49%;
  top: 49%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(238px) rotate(calc(-360deg / var(--beats) * var(--i)));
}

.grid-container .dot.active,
.grid-container.small .dot.active {
  background-color: white !important;
}

.grid-outer-container .grid-container.small {
  position: absolute;
}

.grid-container.small {
  display: flex;
  justify-content: center;
  width: 415px;
  height: 415px;
  border-radius: 50%;
  border: 3px solid #242424;
  z-index: 3;
}

.grid-container.small .dot {
  position: absolute;
  top: 48%;
  left: 48%;
  width: 15px;
  height: 15px;
  transition: all 0.1s linear;
  background-color: #f821ad;
  border-radius: 50%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(211px) rotate(calc(-360deg / var(--beats) * var(--i)));
  transform-origin: center;
  z-index: 8;
}

.grid-container.small .dot.subdivision {
  width: 10px;
  height: 10px;
  background-color: #9045e6ff;
  left: 49%;
  top: 49%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(209px) rotate(calc(-360deg / var(--beats) * var(--i)));
}

@media (max-width: 563px) {
  .grid-container {
    width: 320px !important;
    height: 320px !important;
  }

  .grid-container .dot {
    left: 46%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(160px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container .dot.subdivision {
    width: 10px;
    height: 10px;
    background-color: #9045e6ff;
    left: 48%;
    top: 48%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(162px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.small {
    width: 270px !important;
    height: 270px !important;
  }

  .grid-container.small > .dot {
    left: 47%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(135px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.small .dot.subdivision {
    background-color: #9045e6ff;
    left: 48%;
    top: 48%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(137px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .bpm-spinner {
    width: 320px;
  }

  .bpm-spinner__rotary {
    width: 240px !important;
    height: 240px !important;
  }

  .bpm-spinner__button {
    width: 130px !important;
    height: 130px !important;
    top: 48% !important;
  }

  .bpm-spinner__button h4 {
    font-size: 28px;
  }

  .bpm-spinner__button h5 {
    font-size: 13px;
  }

  .display-container {
    position: relative;
    top: -9px;
  }

  .play-button {
    width: 65px;
    height: 65px;
  }

  .play-button svg {
    position: relative;
    left: -4px;
  }

  .bpm-spinner__rotary > .circle {
    padding-bottom: 45% !important;
    left: 118px !important;
  }

  .grid-outer-container {
    height: 350px;
  }
}
