.bpm-spinner {
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  width: fit-content;
  /* height: 420px; */
  touch-action: none;
  z-index: 4;
}

.bpm-spinner__rotary {
  --rotary-width-lg: 340px;
  --rotary-height-lg: 340px;
  width: var(--rotary-width-lg);
  height: var(--rotary-height-lg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  cursor: grab;
  user-select: none;
  background: black;
  border: 3px solid #242424;
}

.bpm-spinner__rotary.small {
  width: 320px;
  height: 320px;
}

.bpm-spinner__rotary:active {
  cursor: grabbing;
}

.bpm-spinner__button {
  position: absolute;
  width: 250px;
  height: 250px;
  /* width: 300px;
  height: 300px; */
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid rgba(248, 33, 173, 1);
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  will-change: width, height;
  flex-direction: column;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.bpm-spinner__button:active {
  background-color: rgba(248, 33, 173, 1);
}

.tap-indicator {
  position: absolute;
  top: 5px;
  font-size: 12px;
  font-weight: 600;
}

.bpm-spinner__button.small {
  width: 230px;
  height: 230px;
}

.bpm-spinner__button.running {
  animation: var(--tempo) linear infinite alternate pulse;
}

@keyframes pulse {
  from {
    box-shadow: 0px 0px 5px 5px rgb(248 33 173);
  }

  to {
    box-shadow: 0px 1px 0px 0px rgb(248 33 173 / 10%);
  }
}

.bpm-spinner__button:active {
  box-shadow: none;
}

.bpm-spinner__button h4 {
  position: relative;
  top: 10px;
  font-size: 60px;
  margin: 0 10px;
}

.bpm-spinner__button h5 {
  font-size: 30px;
  margin: 0;
}

.circle.small {
  padding-bottom: 46%;
  left: 157px;
  height: 44%;
}

.circle {
  /* position: absolute;
  width: 1.5%;
  padding-bottom: 50%;
  z-index: 1;
  top: 20px;
  left: 195px;
  height: 40%; */
  /* transition: all 0.3s linear; */
  position: absolute;
  width: 1.5%;
  padding-bottom: 50%;
  z-index: 1;
  top: 17px;
  left: 166px;
  height: 40%;
  /* transition: all 0.3s linear; */
}
.circle div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(306deg);
}
.circle:before,
.circle div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  background: #f821ad;
}

.play-button svg {
  width: 30px;
  height: 30px;
  fill: #f821ad;
}

.play-button__container {
  position: absolute;
  display: flex;
  bottom: 5px;
  background: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.play-button {
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

/* .display-container {
  position: relative;
  top: 10px;
} */

.note-container {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1500px) {
  .note-container {
    top: 42px;

    svg.note-svg {
      max-width: 25px;
      max-height: 25px;
    }
  }
}
