.grid-container {
  /* --width-lg: 390px;
  --height-lg: 390px; */
  display: flex;
  justify-content: center;
  width: var(--width-lg);
  height: var(--height-lg);
  border-radius: 50%;
  border: 3px solid var(--light-black);
  position: relative;
  z-index: 5;
  position: absolute;
  pointer-events: none;
}

.grid-container__clock-arm {
  width: 3px;
  height: 50%;
  background: var(--pink-purple);
  transform-origin: bottom center;
  position: absolute;
  z-index: 3;
  top: 0;
  will-change: transform;
  /* transform: translateZ(0); */
}

.grid-container__clock-arm.running {
  animation: var(--tempo) linear infinite rotate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.grid-container.ghost .dot {
  border: 4px solid var(--muted-light-purple);
  background-color: transparent;
  left: 45.6%;
  top: 46%;
}

.grid-container .dot {
  position: absolute;
  top: 47%;
  left: 46.8%;
  width: 25px;
  height: 25px;
  background-color: var(--pink-purple);
  border-radius: 50%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(199px) rotate(calc(-360deg / var(--beats) * var(--i)));
  transform-origin: center;
  z-index: 6;
  pointer-events: auto;
}

.grid-container .dot.off {
  background-color: var(--dark-gray) !important;
}
.grid-container > .dot.off.active,
.grid-container.small > .dot.off.active {
  background-color: #8b8b8b !important;
}

.grid-container .dot.active:hover,
.dot:hover,
.grid-container.small > .dot.active:hover {
  cursor: pointer;
}
.grid-container.ghost > .dot.subdivision {
  top: 48%;
  left: 47.8%;
  background: transparent;
}
.grid-container .dot.subdivision {
  width: 10px;
  height: 10px;
  background-color: var(--light-purple);
  left: 48.8%;
  top: 49%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(197px) rotate(calc(-360deg / var(--beats) * var(--i)));
}

.grid-container .dot.active,
.grid-container.small .dot.active {
  background-color: var(--white) !important;
}

.metronome__inner-container .grid-container.small {
  position: absolute;
}

.grid-container.small {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid var(--light-black);
  z-index: 5;
}

.grid-container.small.ghost .dot {
  border: 4px solid var(--muted-light-purple);
  background-color: transparent;
  left: 46.6%;
  top: 46.9%;
}

.grid-container.small .dot {
  position: absolute;
  top: 48%;
  left: 47.8%;
  width: 15px;
  height: 15px;
  /* transition: all 0.1s linear; */
  background-color: var(--pink-purple);
  border-radius: 50%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(175px) rotate(calc(-360deg / var(--beats) * var(--i)));
  transform-origin: center;
  z-index: 8;
}

.grid-container.small .dot.subdivision {
  width: 10px;
  height: 10px;
  background-color: var(--light-purple);
  left: 49%;
  top: 49%;
  transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
    translate(177px) rotate(calc(-360deg / var(--beats) * var(--i)));
}

.grid-container.small.ghost .dot.subdivision {
  left: 47.8% !important;
  background-color: transparent !important;
  top: 48% !important;
}

/*
==============
MEDIA QUERIES
for mobile
==============
*/

@media (max-width: 563px) {
  .grid-container {
    width: 320px !important;
    height: 320px !important;
  }

  .grid-container .dot {
    left: 46%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(160px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.ghost .dot {
    left: 44.7% !important;
    top: 45.7% !important;
  }

  .grid-container .dot.subdivision {
    width: 10px;
    height: 10px;
    background-color: var(--light-purple);
    left: 48%;
    top: 48%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(162px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.ghost > .dot.subdivision {
    left: 46.7% !important;
    top: 46.7% !important;
  }

  .grid-container.small.ghost .dot.subdivsion {
    left: 46.5% !important;
    top: 46.5% !important;
  }

  .grid-container.small {
    width: 270px !important;
    height: 270px !important;
  }

  .grid-container.small.ghost div.dot:not(.subdivision) {
    left: 45.4% !important;
    top: 46.5% !important;
  }

  .grid-container.small > .dot {
    left: 47%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(135px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.small .dot.subdivision {
    background-color: var(--light-purple);
    left: 48%;
    top: 48%;
    transform: rotate(calc(360deg / var(--beats) * var(--i) - 90deg))
      translate(137px) rotate(calc(-360deg / var(--beats) * var(--i)));
  }

  .grid-container.small.ghost .dot.subdivision {
    left: 46.5% !important;
    top: 46.5% !important;
  }

  .bpm-spinner__rotary {
    width: 240px !important;
    height: 240px !important;
  }

  .bpm-spinner__button {
    width: 150px !important;
    height: 150px !important;
    top: 48% !important;
  }

  .bpm-spinner__button h4 {
    font-size: 28px !important;
  }

  .bpm-spinner__button h5 {
    font-size: 13px !important;
  }

  .display-container {
    position: relative;
    top: -4px;
  }

  .play-button {
    width: 65px !important;
    height: 65px !important;
  }

  .play-button svg {
    position: relative;
    left: -4px;
  }

  .bpm-spinner__rotary > .circle {
    padding-bottom: 45% !important;
    left: 118px !important;
  }

  .bpm-spinner__rotary > .circle.small {
    height: 42%;
  }

  .metronome__inner-container {
    height: 325px;
  }
}
