.home__container {
  width: 100%;
  position: relative;

  .home__container__top {
    border-bottom: 1px solid var(--light-black);
    padding: 1rem 0 2rem 0;
  }
}

section.home__header {
  h1 {
    font-size: 48px;

    span {
      color: var(--pink-purple);
    }
  }
}

.home__navigation {
  display: flex;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
}
