.builder-container {
}

.builder-header {
  border-bottom: 1px solid var(--light-black);
  width: 100%;
  min-height: 1rem;
  margin-bottom: 0.5rem;
}

.builder-header__inner {
  padding: 1rem 2rem;
}

.builder-subheader {
  width: 98%;
  margin-bottom: 1rem;

  .sequence-bar-container {
    display: flex;
    gap: 0.25rem;

    .sequence-bar {
      width: 100%;
      height: 30px;
      border-radius: 7px;
      background: var(--muted-pink-purple);
      color: var(--pink-purple);
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      position: relative;

      .progress {
        background: var(--muted-pink-purple);
        height: 100%;
        width: 0;
        position: absolute;
        left: 0;
        z-index: -1;
        border-radius: 7px;
      }
      .progress.active {
        animation: animateProgress var(--animationLength) linear infinite;
      }
    }
    .sequence-bar.poly {
      background: var(--muted-light-purple);
      color: var(--light-purple);
    }
  }

  .sequence-bar-description {
    display: flex;
    justify-content: space-between;
  }
}

.builder-card-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;

  .builder-card-inner-container {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    align-items: flex-start;

    width: max-content; /* makes container as wide as its children */
    min-width: 100%; /* still fills the viewport when there are few cards */
  }
}

.builder-card-inner-container > * {
  flex: 0 0 auto;
}

@keyframes animateProgress {
  0% {
    with: 0;
  }
  100% {
    width: 100%;
  }
}
