.range-container {
  text-align: left;

  & .range {
    min-height: 15px;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }

  & input[type='range'] {
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    accent-color: #f821ad;
  }
}

input[type='range']::-webkit-slider-runnable-track {
  height: 5px;
  background-color: var(--pink-purple);
  border-radius: 999px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #d31eed;
  border-radius: 50%;
  margin-top: -6px;
  cursor: pointer;
}
