.tabs {
  max-width: 390px;
  border-radius: 0.75rem;
  border: 1px solid #2e2e2e;
  background-color: var(--medium-black);
  margin-bottom: 1rem;
}

.tabs__inner-container {
  padding: 1rem;
}

.tab-list {
  display: flex;
  justify-content: space-between;
}

.tab-panel {
  padding: 1rem;
  min-height: 120px;
}

.tab-panel > div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tab-button {
  margin-right: 10px;
  border: none;
  flex: 1;
}
button.tab-button.active {
  outline: none;
  border-bottom: 3px solid #f821ad;
  border-radius: 0;

  svg {
    path {
      fill: #f821ad;
      stroke: #f821ad;
    }
  }
}

button.tab-button:hover {
  outline: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 3px solid #f821ad;
  border-radius: 0;
}

.tab-button > svg {
  max-height: 30px;
  width: auto;

  path {
    fill: white;
    stroke: white;
  }
}
