.input-text {
  background: rgba(36, 36, 36, 0.5);
  padding: 5px 15px;
  transition: 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 25px;
  color: white;
  font-size: 14px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
}

.input-text:focus-visible {
  border: 1px solid var(--pink-purple);
  outline: none;
}
