#root {
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -khtml-user-select: none; /* Konqueror HTML */
  overflow-x: hidden;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;
}

.metronome__outer-container {
  margin: 0 auto;
  padding-top: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

svg.note-svg {
  max-width: 40px;
  max-height: 40px;
}
svg.note-svg path {
  fill: white !important;
  stroke: white !important;
}

.settings-toggle-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0 0.5rem 0;
}

.settings-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  flex-direction: row;
  margin-bottom: 1rem;
}

.polyrhythm-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button.active {
  outline: 2px auto #f821ad;
}

button.inactive {
  color: #666;
}

button.wide {
  padding: 1rem 6rem;
}

button.full {
  width: 100%;
}

button.outline {
  outline: 1px solid #f821ad;
}

button:disabled {
  cursor: not-allowed;
  color: #666 !important;
  background-color: inherit !important;
}

button.filled {
  background-color: var(--pink-purple);
  color: white;
}

button.filled:hover {
  background-color: inherit;
  color: var(--pink-purple);
}

button.small {
  padding: 0.3 0.9rem;
  font-size: 0.8rem;
}

.polyrhythm-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.polyrhtyhm-beatcount-container {
  display: flex;
}

.absolute-note-container {
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  top: -45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
=================
| Helpers
=================
*/
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.f-gap1 {
  gap: 0.25rem;
}

.f-gap2 {
  gap: 0.5rem;
}

.f-gap3 {
  gap: 0.75rem;
}

.f-gap4 {
  gap: 1rem;
}

.f-gap8 {
  gap: 2rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.width-100 {
  width: 100%;
}

.flex-dir-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.font-weight-bold {
  font-weight: bold;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.text-left {
  text-align: left;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.font-weight-600 {
  font-weight: 600;
}

.indented {
  border-left: 2px solid var(--pink-purple);
  padding-left: 1rem;
}

.text-light {
  opacity: 0.75;
}

.color-extra-light-gray {
  color: var(--extra-light-gray);
}

.color-pink-purple {
  color: var(--pink-purple);
}

.bg-pink-purple {
  background-color: var(--pink-purple) !important;
}
