:root {
  /* global text styles */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light dark;
  background-color: black;

  /* color */
  --light-black: #242424;
  --pink-purple: #f821ad;
  --dark-gray: #393439ff;
  --light-purple: #9045e6ff;
  --white: #fff;
}

body {
  display: flex;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #090909;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border-color: var(--pink-purple);
}

button:focus,
button:focus-visible {
  outline: 4px auto var(--pink-purple);
}
